@charset "utf-8";
/* 全部分类 start */
.mt181{margin-top:1.81rem;}
.bt1{border-bottom:1px solid #ddd;}
.classification-tab,.all-classification-name,.tj-pp,.all-pp-search{background:#fff;}
.br1{border-right:1px solid #aaa;}
.classification-tab{position:absolute;top:0.86rem;right:0;left:0;height: 0.95rem;text-align:center;line-height:0.95rem;font-size:0.3rem;z-index:99999;}
.classification-wrap{width: 50%;height: 100%;border-bottom: 2px solid #ddd;}
.classification-wrap a{display: inline-block;width: 100%;height: 0.6rem;line-height:0.6rem;}
.classification-tab .on{border-bottom:2px solid #e3241a;}
.classification-tab .on a{color:#e3241a;}

.all-classification-list{border-bottom:2px solid #333;background:#f4f4f4;}
.all-classification-name{height: 0.6rem;line-height:0.6rem;text-indent:0.3rem;color:#000;font-weight:600;font-size:0.3rem;border-bottom:2px solid #dbdbdb;}
.all-classification-item{float:left;width: 100%;border-bottom:1px solid #ddd;font-size:0.28rem;}
.all-classification-item div{width: 50%;padding:0.1rem 0.3rem;}
.classification-item-left{float:left;border-right: 1px solid #ddd;margin-right:-1px;}
.classification-item-right{float:left;border-left: 1px solid #ddd;}

.all-classification-item a{color:#666;float:left;}
.all-classification-wrap:last-child .all-classification-list{border-bottom:none;}
/* 全部分类 end */

/* 全部品牌 start */
.all-pp-search{padding:0.2rem 0.15rem;}
.all-pp-search input{width: 100%;display:block;height: 0.6rem;line-height:0.7rem;padding:0 0.2rem;font-size:0.25rem;text-align:center;}
.all-pp-search i{width: 0.25rem;height: 0.25rem;background:url(../images/search/search-icon.png);background-size:100% 100%;top:0.34rem;left:39%;}

.tj-pp-wrap{overflow-x:auto;padding-top:0.3rem;padding-bottom: 0.6rem;}
.tj-pp h4{padding:0.3rem 0;width: 100%;text-align:center;cololr:#333;text-align:center;font-size:0.3rem;font-weight:bold;}
.tj-pp-list-item{float:left;width: 1.5rem;margin:0 0.2rem;}
.tj-pp-img{width: 100%;height: 0.9rem;}
.tj-pp-img img,.all-pp-img img{width: 100%;height: 100%;}
.tj-pp-list-item p,.all-pp-list-item p{width: 100%;height: 0.3rem;font-size:0.25rem;color:#999;text-align:center;}

.all-pp-list{margin:0 0.2rem;}
.all-pp-list-item{width: 1.6rem;float:left;margin:0.383rem;}
.all-pp-img{width: 100%;height:1rem;}
.all-pp-list-item p{margin-top:0.05rem;}
/* 全部品牌 end */
